html
{
        
    width: 100%;
    height : 100%;
}


body {
    
    font-family: "montserrat-bold", arial, helvetica;
    text-align: justify;
}

@font-face
{
    font-family:'montserrat-bold';
    src: url(Montserrat/Montserrat-SemiBold.ttf);

}

@font-face
{
    font-family:"montserrat";
    src:url(Montserrat/Montserrat-Medium.ttf);
}
/* En-tête */


#text
{
    clear: right;
}
nav
{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    font-size: 0.75em;
} 

#accueil_haut
{
    width:200px;
    height: 100px;
    position:relative;
    margin: -20px -300px -20px -20px;
    border-radius: 5px;
}



#nav_haut
{
    word-spacing: 1rem;
    font-family: "montserrat-bold",Impact, 'Arial Narrow Bold', sans-serif;
    justify-items: center;

}

[class*="nav"]
{
    border-bottom:#ffbb00;
}
a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color:rgb(193, 2, 48);
    
}

.menu0 {

    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
.menu2 {
    color:black;
    background:white;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
.menu2 a {
    color:black;
  }
  
.menu2:hover {
    background: white;
    cursor: pointer;
    text-decoration: underline;
  }
  
.menu0 li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .menu0 li:hover > ul,
  .menu0 li:focus-within > ul, /* this is the line we add */
  .menu0 li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction:column;
  }
  
 .menu li ul li {
    clear: both;
    width: 100%;
  }

#recherche_haut
{
    display: flex;
    justify-content: flex-end;
    

}

#recherche
{ 
    background-color: #fff;
}


#contact 
  { border-radius: 5px;
  }
/* En-tête */

/* image principale */
.img
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_page
{
    height: 300px;
    width:1400px;
}

/* image principale */

/* Page principale */
.educ
{
    display: flex;
    justify-content: center;
    
}
/* Article du site */
.articles
{
    display: flex;
    align-items: flex-start;
    margin-top: -50px;
    margin-left: -100px;
    justify-content: center
} 
.histo
{
    width:300px;
    padding: 20px;
    text-align: right;
    border-right: 1px dashed black;

}
/* Article du site */

.img2
{
    display: flex;
    align-items: center;
    width:200px;
    height:200px;
    margin-top:100px;
    

}

.html
{
    text-align: center;
}
.art2
{
    border-top:2px solid rgb(255, 255, 255);
    border-radius: 10px;
    flex: 0.50;
    width: 500px;
    padding: 20px;
    background-color:white;
    font-size: 1.0625em;
    font-weight: 500;
}
#ex {
    width: 800px;
}
#gif {
    width: 800px;
}
/* Articles de la page */

/* Footer */
footer a
{
    color: rgb(255, 255, 255);
}
footer
{
    font-family: 'Montserrat';
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 0.85em;
    background: rgb(32, 34, 40);
    color: rgb(255, 255, 255);
    margin: 0 -30px 0 -30px;
}
.foot1
{
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 50px;
}
.move a {
    color: #ffcd00;
}
.move {
    font-size: .875em;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #283035;
    min-height: 4.375em;
}
.foot2 {
    column-count: 1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.region
{
    width: 9em;
    height: 4em;
    margin-top: 6em;
    border-radius:5px;
}

.emploi
{
    border: 2px solid rgb(40, 48, 53);
    background: rgb(40, 48, 53);
    border-radius: 6px;
    padding: 0.75em;
    margin: 2em 2em 0 0;
}

/* Menu déroulant */


.menu {
    background: #ffbb00;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
.menu1 {
    color: #fff;
    background: #ffbb00;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
.menu1 a {
    color: #fff;
  }
  
.menu1:hover {
    background: red;
    cursor: pointer;
  }
  
.menu li ul {
    background: #ffbb00;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .menu li:hover > ul,
  .menu li:focus-within > ul, /* this is the line we add */
  .menu li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  
 .menu li ul li {
    clear: both;
    width: 100%;
  }

  /* Menu déroulant */