body
{
    min-width:100%;
    min-height:100%;
}

/* En-tête */


#text
{
    clear: right;
}
nav
{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
} 


#accueil_haut
{
    width:200px;
    height: 100px;
    position:relative;
    margin: -15px 0 -20px -10px;
    border-radius: 5px;
}
/* En-tête */

/* image principale */
.img
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_page
{
    height: 300px;
    width:1400px;
}

/* image principale */

/* Article du site */
.articles
{
    display: flex;
    align-items: flex-start;
    margin-top: -50px;
    margin-left: -100px;
    justify-content: center
} 
.histo
{
    width:300px;
    padding: 20px;
    text-align: right;
    border-right: 1px dashed black;

}
/* Article du site */

.img2
{
    display: flex;
    align-items: center;
    width:200px;
    height:200px;
    margin-top:100px;
    

}

.html
{
    text-align: center;
}
.art2
{
    border-top:2px solid rgb(255, 255, 255);
    border-radius: 10px;
    flex: 0.50;
    width: 500px;
    padding: 20px;
    background-color:white;
} 
